Web Services/Cross/Java - C#/Vistas/LogicaNegocio/Connected Services/AeropuertoWS/AeropuertoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Servicio/" targetNamespace="http://Servicio/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminar" type="tns:eliminar" />
  <xs:element name="eliminarResponse" type="tns:eliminarResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="listar" type="tns:listar" />
  <xs:element name="listarResponse" type="tns:listarResponse" />
  <xs:element name="modificar" type="tns:modificar" />
  <xs:element name="modificarResponse" type="tns:modificarResponse" />
  <xs:element name="registrar" type="tns:registrar" />
  <xs:element name="registrarResponse" type="tns:registrarResponse" />
  <xs:complexType name="listar">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:aeropuerto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aeropuerto">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="mts_altura" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrar">
    <xs:sequence>
      <xs:element minOccurs="0" name="a" type="tns:aeropuerto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminar">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="a" type="tns:aeropuerto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarResponse">
    <xs:sequence />
  </xs:complexType>
</xs:schema>