Web Services/Cross/Java - C#/Vistas/LogicaNegocio/Connected Services/AeropuertoWS/AeropuertoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Servicio/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="AeropuertoWS" targetNamespace="http://Servicio/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/Servidor/AeropuertoWS?xsd=1" namespace="http://Servicio/" />
    </xsd:schema>
  </types>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="registrar">
    <part name="parameters" element="tns:registrar" />
  </message>
  <message name="registrarResponse">
    <part name="parameters" element="tns:registrarResponse" />
  </message>
  <message name="listar">
    <part name="parameters" element="tns:listar" />
  </message>
  <message name="listarResponse">
    <part name="parameters" element="tns:listarResponse" />
  </message>
  <message name="eliminar">
    <part name="parameters" element="tns:eliminar" />
  </message>
  <message name="eliminarResponse">
    <part name="parameters" element="tns:eliminarResponse" />
  </message>
  <message name="modificar">
    <part name="parameters" element="tns:modificar" />
  </message>
  <message name="modificarResponse">
    <part name="parameters" element="tns:modificarResponse" />
  </message>
  <portType name="AeropuertoWS">
    <operation name="hello">
      <input wsam:Action="http://Servicio/AeropuertoWS/helloRequest" message="tns:hello" />
      <output wsam:Action="http://Servicio/AeropuertoWS/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="registrar">
      <input wsam:Action="http://Servicio/AeropuertoWS/registrarRequest" message="tns:registrar" />
      <output wsam:Action="http://Servicio/AeropuertoWS/registrarResponse" message="tns:registrarResponse" />
    </operation>
    <operation name="listar">
      <input wsam:Action="http://Servicio/AeropuertoWS/listarRequest" message="tns:listar" />
      <output wsam:Action="http://Servicio/AeropuertoWS/listarResponse" message="tns:listarResponse" />
    </operation>
    <operation name="eliminar">
      <input wsam:Action="http://Servicio/AeropuertoWS/eliminarRequest" message="tns:eliminar" />
      <output wsam:Action="http://Servicio/AeropuertoWS/eliminarResponse" message="tns:eliminarResponse" />
    </operation>
    <operation name="modificar">
      <input wsam:Action="http://Servicio/AeropuertoWS/modificarRequest" message="tns:modificar" />
      <output wsam:Action="http://Servicio/AeropuertoWS/modificarResponse" message="tns:modificarResponse" />
    </operation>
  </portType>
  <binding name="AeropuertoWSPortBinding" type="tns:AeropuertoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registrar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AeropuertoWS">
    <port name="AeropuertoWSPort" binding="tns:AeropuertoWSPortBinding">
      <soap:address location="http://localhost:8080/Servidor/AeropuertoWS" />
    </port>
  </service>
</definitions>