Web Services/Java/Practica Andres/practica2/xml-resources/web-service-references/ClienteWeb/wsdl/localhost_8080/practica/ClienteWeb.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios/" name="ClienteWeb">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios/" schemaLocation="http://localhost:8080/practica/ClienteWeb?xsd=1"/>
</xsd:schema>
</types>
<message name="modificarCliente">
<part name="parameters" element="tns:modificarCliente"/>
</message>
<message name="modificarClienteResponse">
<part name="parameters" element="tns:modificarClienteResponse"/>
</message>
<message name="registrarCliente">
<part name="parameters" element="tns:registrarCliente"/>
</message>
<message name="registrarClienteResponse">
<part name="parameters" element="tns:registrarClienteResponse"/>
</message>
<message name="listarClientes">
<part name="parameters" element="tns:listarClientes"/>
</message>
<message name="listarClientesResponse">
<part name="parameters" element="tns:listarClientesResponse"/>
</message>
<message name="eliminarCliente">
<part name="parameters" element="tns:eliminarCliente"/>
</message>
<message name="eliminarClienteResponse">
<part name="parameters" element="tns:eliminarClienteResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="ClienteWeb">
<operation name="modificarCliente">
<input wsam:Action="http://servicios/ClienteWeb/modificarClienteRequest" message="tns:modificarCliente"/>
<output wsam:Action="http://servicios/ClienteWeb/modificarClienteResponse" message="tns:modificarClienteResponse"/>
</operation>
<operation name="registrarCliente">
<input wsam:Action="http://servicios/ClienteWeb/registrarClienteRequest" message="tns:registrarCliente"/>
<output wsam:Action="http://servicios/ClienteWeb/registrarClienteResponse" message="tns:registrarClienteResponse"/>
</operation>
<operation name="listarClientes">
<input wsam:Action="http://servicios/ClienteWeb/listarClientesRequest" message="tns:listarClientes"/>
<output wsam:Action="http://servicios/ClienteWeb/listarClientesResponse" message="tns:listarClientesResponse"/>
</operation>
<operation name="eliminarCliente">
<input wsam:Action="http://servicios/ClienteWeb/eliminarClienteRequest" message="tns:eliminarCliente"/>
<output wsam:Action="http://servicios/ClienteWeb/eliminarClienteResponse" message="tns:eliminarClienteResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://servicios/ClienteWeb/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servicios/ClienteWeb/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="ClienteWebPortBinding" type="tns:ClienteWeb">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="modificarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ClienteWeb">
<port name="ClienteWebPort" binding="tns:ClienteWebPortBinding">
<soap:address location="http://localhost:8080/practica/ClienteWeb"/>
</port>
</service>
</definitions>