Web Services/C#/Client/Client/Connected Services/servicioServer/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sumar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sumarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sumarResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="restar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="restarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="restarResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="multiplicar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="multiplicarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="multiplicarResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dividir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dividirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dividirResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="saludar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="saludarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="saludarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="sumarSoapIn">
    <wsdl:part name="parameters" element="tns:sumar" />
  </wsdl:message>
  <wsdl:message name="sumarSoapOut">
    <wsdl:part name="parameters" element="tns:sumarResponse" />
  </wsdl:message>
  <wsdl:message name="restarSoapIn">
    <wsdl:part name="parameters" element="tns:restar" />
  </wsdl:message>
  <wsdl:message name="restarSoapOut">
    <wsdl:part name="parameters" element="tns:restarResponse" />
  </wsdl:message>
  <wsdl:message name="multiplicarSoapIn">
    <wsdl:part name="parameters" element="tns:multiplicar" />
  </wsdl:message>
  <wsdl:message name="multiplicarSoapOut">
    <wsdl:part name="parameters" element="tns:multiplicarResponse" />
  </wsdl:message>
  <wsdl:message name="dividirSoapIn">
    <wsdl:part name="parameters" element="tns:dividir" />
  </wsdl:message>
  <wsdl:message name="dividirSoapOut">
    <wsdl:part name="parameters" element="tns:dividirResponse" />
  </wsdl:message>
  <wsdl:message name="saludarSoapIn">
    <wsdl:part name="parameters" element="tns:saludar" />
  </wsdl:message>
  <wsdl:message name="saludarSoapOut">
    <wsdl:part name="parameters" element="tns:saludarResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sumar">
      <wsdl:input message="tns:sumarSoapIn" />
      <wsdl:output message="tns:sumarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="restar">
      <wsdl:input message="tns:restarSoapIn" />
      <wsdl:output message="tns:restarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="multiplicar">
      <wsdl:input message="tns:multiplicarSoapIn" />
      <wsdl:output message="tns:multiplicarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="dividir">
      <wsdl:input message="tns:dividirSoapIn" />
      <wsdl:output message="tns:dividirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="saludar">
      <wsdl:input message="tns:saludarSoapIn" />
      <wsdl:output message="tns:saludarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sumar">
      <soap:operation soapAction="http://tempuri.org/sumar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restar">
      <soap:operation soapAction="http://tempuri.org/restar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplicar">
      <soap:operation soapAction="http://tempuri.org/multiplicar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dividir">
      <soap:operation soapAction="http://tempuri.org/dividir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saludar">
      <soap:operation soapAction="http://tempuri.org/saludar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sumar">
      <soap12:operation soapAction="http://tempuri.org/sumar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restar">
      <soap12:operation soapAction="http://tempuri.org/restar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplicar">
      <soap12:operation soapAction="http://tempuri.org/multiplicar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dividir">
      <soap12:operation soapAction="http://tempuri.org/dividir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saludar">
      <soap12:operation soapAction="http://tempuri.org/saludar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:2843/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:2843/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>