Web Services/Java/WebServicesBD/web/WEB-INF/wsit-Modelo.Aeropuerto.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Aeropuerto" targetNamespace="http://Modelo/" xmlns:tns="http://Modelo/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" 
 >
    <message name="getId"/>
    <message name="getIdResponse"/>
    <message name="setId"/>
    <message name="setIdResponse"/>
    <message name="getCodigo"/>
    <message name="getCodigoResponse"/>
    <message name="setCodigo"/>
    <message name="setCodigoResponse"/>
    <message name="getNombre"/>
    <message name="getNombreResponse"/>
    <message name="setNombre"/>
    <message name="setNombreResponse"/>
    <message name="getUbicacion"/>
    <message name="getUbicacionResponse"/>
    <message name="setUbicacion"/>
    <message name="setUbicacionResponse"/>
    <message name="getMts_altura"/>
    <message name="getMts_alturaResponse"/>
    <message name="setMts_altura"/>
    <message name="setMts_alturaResponse"/>
    <portType name="Aeropuerto">
        <operation name="getId">
            <input message="tns:getId"/>
            <output message="tns:getIdResponse"/>
        </operation>
        <operation name="setId">
            <input message="tns:setId"/>
            <output message="tns:setIdResponse"/>
        </operation>
        <operation name="getCodigo">
            <input message="tns:getCodigo"/>
            <output message="tns:getCodigoResponse"/>
        </operation>
        <operation name="setCodigo">
            <input message="tns:setCodigo"/>
            <output message="tns:setCodigoResponse"/>
        </operation>
        <operation name="getNombre">
            <input message="tns:getNombre"/>
            <output message="tns:getNombreResponse"/>
        </operation>
        <operation name="setNombre">
            <input message="tns:setNombre"/>
            <output message="tns:setNombreResponse"/>
        </operation>
        <operation name="getUbicacion">
            <input message="tns:getUbicacion"/>
            <output message="tns:getUbicacionResponse"/>
        </operation>
        <operation name="setUbicacion">
            <input message="tns:setUbicacion"/>
            <output message="tns:setUbicacionResponse"/>
        </operation>
        <operation name="getMts_altura">
            <input message="tns:getMts_altura"/>
            <output message="tns:getMts_alturaResponse"/>
        </operation>
        <operation name="setMts_altura">
            <input message="tns:setMts_altura"/>
            <output message="tns:setMts_alturaResponse"/>
        </operation>
    </portType>
    <binding name="AeropuertoPortBinding" type="tns:Aeropuerto">
        <operation name="getId">
            <input/>
            <output/>
        </operation>
        <operation name="setId">
            <input/>
            <output/>
        </operation>
        <operation name="getCodigo">
            <input/>
            <output/>
        </operation>
        <operation name="setCodigo">
            <input/>
            <output/>
        </operation>
        <operation name="getNombre">
            <input/>
            <output/>
        </operation>
        <operation name="setNombre">
            <input/>
            <output/>
        </operation>
        <operation name="getUbicacion">
            <input/>
            <output/>
        </operation>
        <operation name="setUbicacion">
            <input/>
            <output/>
        </operation>
        <operation name="getMts_altura">
            <input/>
            <output/>
        </operation>
        <operation name="setMts_altura">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="Aeropuerto">
        <port name="AeropuertoPort" binding="tns:AeropuertoPortBinding"/>
    </service>
</definitions>
